<h1 class="h2 text-success mt-3" >Login</h1>

<%= form_tag '/sessions' do %>

  <div class="mb-2">
  Email: <%= text_field_tag :email %>
  </div>
  <div class="mb-2">
  Password: <%= password_field_tag :password %>
  </div>
  <div>
  <%= submit_tag "Submit" %>
  </div>
<% end %>