<section class="orders-show">
  <header class="page-header">
    <div>
      <h2>About Us</h2>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      <p>
          Welcome to our online plant shop! We're a group of plant enthusiasts who believe that adding some greenery to your home can make all the difference. Our mission is to make it easy and affordable for everyone to bring a little bit of nature indoors.
        </p>
        <p>
          We pride ourselves on offering only the best quality plants and flowers. We work with trusted growers and nurseries to bring you healthy, vibrant plants that will thrive in your home. And with our easy ordering process and free shipping on orders over $50, it's never been easier to fill your space with beautiful greenery.
        </p>
        <p>
          Whether you're a seasoned plant parent or just starting out, we have something for everyone. Our wide variety of plants and flowers includes everything from succulents to tropicals, so you're sure to find something that suits your style. And with our selection of accessories, you can keep your plants happy and healthy for years to come.
        </p>
        <p>
          So why wait? Start browsing our collection today and discover the joy of bringing the outdoors in!
        </p>
      </div>
    </div>
  </div>
<%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>